# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript generated code
*.tsbuildinfo

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# Compiled output
*.js
*.js.map

# Config files
.env

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Jest test reports
/coverage
/test-report.html
/test-results.xml
